<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="page-wrapper" th:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">投注-对冲</h3>
				<div class="buttonArea">
					<button id="downloadBtn" class="btn btn-success">导出</button>
					<button id="pickupBtn" class="btn btn-primary">筛选</button>
					<button id="clearBtn" class="btn btn-danger">清空</button>
					<button id="qcBtn" class="btn btn-warning">去重</button>
					<button id="addBtn" class="btn btn-info">添加自动</button>
					<button id="addSelfSelectBtn" class="btn btn-info">添加手动</button>
					<div class="clearfix"></div>
					<form id="download" name="download" action="/mvc/yz/downloadTZDC" method="post" class="hidden">
					</form>
				</div>
				<div class="buttonArea">
					<span class="title">选择种类:</span>
					<select id="category">
					</select>
					<span id="subTitle" class="title">:</span>
					<span id="hmlist_p">
						<select id="hmlist"></select>
					</span>
					<span id="tip" class="title" style="display:none;">请输入号码，以英文逗号隔开: </span><input id='hmlist' size='70' />
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h4>公式条件</h4>
				<table width="100%"
					class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>请输入号码，以英文逗号隔开: </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<textarea id="gs" rows="5" cols="100"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h4>自动组合条件</h4>
				<table id="conditionTable1" width="100%"
					class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>行号</th>
							<th>种数</th>
							<th>号码</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h4>手动组合条件</h4>
				<table id="conditionTable2" width="100%"
					class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>行号</th>
							<th>种数</th>
							<th>号码</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h4>筛选结果</h4>
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="datatable">
					<thead>
						<tr>
							<th>行号</th>
							<th>组合</th>
							<th>号码(公式+)</th>
							<th>号码(49-公式)</th>
							<th>反转(公式+)</th>
							<th>反转(49-公式)</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>