<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="page-wrapper" th:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">投注-小包围</h3>
				<div class="buttonArea">
					<button id="downloadBtn" class="btn btn-success">导出</button>
					<button id="pickupBtn" class="btn btn-primary">筛选</button>
					<button id="clearBtn" class="btn btn-danger">清空</button>
					<button id="qlBtn" class="btn btn-danger">清零</button>
					<button id="xcBtn" class="btn btn-warning">选重</button>
					<button id="qcBtn" class="btn btn-warning">去重</button>
					<button id="addBtn" class="btn btn-info">添加</button>
					<div class="clearfix"></div>
					<form id="download" name="download" action="/mvc/yz/downloadTZXBW" method="post" class="hidden">
					</form>
					<span class="title">选择分段:</span>
					<select id="fdlist">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
						<option value="D">D</option>
						<option value="E">E</option>
						<option value="F">F</option>
						<option value="G">G</option>
						<option value="H">H</option>
						<option value="I">I</option>
						<option value="J">J</option>
						<option value="K">K</option>
						<option value="L">L</option>
					</select>
					<span class="title">选择种类:</span>
					<select id="category">
					</select>
					<span id="subTitle" class="title">:</span>
					<span id="hmlist_p">
					</span>
					<input id='hmlist' size='70' />
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h4>筛选条件</h4>
				<table id="conditionTable" width="100%"
					class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>分段</th>
							<th>种类</th>
							<th>号码</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h4>公式</h4>
				<div class="buttonArea">
					<span class="title">请输入号码，以英文逗号隔开:</span>
					<span class="title" style="margin-left: 10px;"><textarea id="gslist" cols="100" rows="5"></textarea></span>
					<span class="title" style="margin-left: 30px;">剔除:</span>
					<select id="tclist">
						<option value=" ">不剔除</option>
						<option value="1,4,7,10,13,16,19,22,25,28,31,34,37,40,43,46,49">1,4,7...</option>
						<option value="2,5,8,11,14,17,20,23,26,29,32,35,38,41,44,47">2,5,8...</option>
						<option value="3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48">3,6,9...</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h4>筛选结果</h4>
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="datatable">
					<thead>
						<tr>
							<th width="20%">组合</th>
							<th width="80%">反转</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>