<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="page-wrapper" th:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">参数-遗值参数</h3>
				<div class="buttonArea">
					<span class="title">截止年份:</span><select id="years"></select>
					<span class="title">截止期数:</span><select id="phases"></select>
					<button id="downloadBtn" class="btn btn-success">导出</button>
					<button id="calYZBtn" class="btn btn-info">遗值计算</button>
					<button id="searchBtn" class="btn btn-primary">搜索</button>
					<div class="clearfix"></div>
					<form id="download" name="download" action="/mvc/yz/downloadAllYZParameters" class="hidden">
						<input id="size" type="hidden" name="size" />
						<input id="endYear" type="hidden" name="year" />
						<input id="endPhase" type="hidden" name="phase" />
					</form>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="dataTable">
					<thead>
						<tr>
							<th>年份</th>
							<th>期数</th>
							<th>特码</th>
							<th>生肖-遗值和</th>
							<th>生肖-倒1</th>
							<th>生肖冷热-遗值和</th>
							<th>生肖冷热-区位</th>
							<th>生肖冷热-倒1</th>
							<th>单双-遗值和</th>
							<th>单双-倒1</th>
							<th>首位-遗值和</th>
							<th>首位-区位</th>
							<th>首位-倒1</th>
							<th>末位-遗值和</th>
							<th>末位-倒1</th>
							<th>合数-遗值和</th>
							<th>合数-倒1</th>
							<th>波色-遗值和</th>
							<th>波色-倒3</th>
							<th>波色-倒4</th>
							<th>波色-倒5</th>
							<th>质数-遗值和</th>
							<th>质数-倒1</th>
							<th>五行-遗值和</th>
							<th>五行-倒3</th>
							<th>五行-倒4</th>
							<th>五行单双-遗值和</th>
							<th>五行单双-倒1</th>
							<th>配对-遗值和</th>
							<th>配对-倒1</th>
							<th>分段-遗值和</th>
							<th>分段-倒1</th>
							<th>七区-遗值和</th>
							<th>七区-区位</th>
							<th>七区-倒1</th>
							<th>七位-遗值和</th>
							<th>七位-区位</th>
							<th>七位-倒1</th>
							<th>十二区-遗值和</th>
							<th>十二区-区位</th>
							<th>十二区-倒1</th>
							<th>十六区-遗值和</th>
							<th>十六区-倒1</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td>年份</td>
							<td>期数</td>
							<td>特码</td>
							<td>生肖-遗值和</td>
							<td>生肖-倒1</td>
							<td>生肖冷热-遗值和</td>
							<td>生肖冷热-区位</td>
							<td>生肖冷热-倒1</td>
							<td>单双-遗值和</td>
							<td>单双-倒1</td>
							<td>首位-遗值和</td>
							<td>首位-区位</td>
							<td>首位-倒1</td>
							<td>末位-遗值和</td>
							<td>末位-倒1</td>
							<td>合数-遗值和</td>
							<td>合数-倒1</td>
							<td>波色-遗值和</td>
							<td>波色-倒3</td>
							<td>波色-倒4</td>
							<td>波色-倒5</td>
							<td>质数-遗值和</td>
							<td>质数-倒1</td>
							<td>五行-遗值和</td>
							<td>五行-倒3</td>
							<td>五行-倒4</td>
							<td>五行单双-遗值和</td>
							<td>五行单双-倒1</td>
							<td>配对-遗值和</td>
							<td>配对-倒1</td>
							<td>分段-遗值和</td>
							<td>分段-倒1</td>
							<td>七区-遗值和</td>
							<td>七区-区位</td>
							<td>七区-倒1</td>
							<td>七位-遗值和</td>
							<td>七位-区位</td>
							<td>七位-倒1</td>
							<td>十二区-遗值和</td>
							<td>十二区-区位</td>
							<td>十二区-倒1</td>
							<td>十六区-遗值和</td>
							<td>十六区-倒1</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>