table.table thead > tr > th {
	padding-left: 8px;
}

.operationAnchor {
	margin-left: 10px;	
}

tfoot td {
	border-top: 3px solid #DDDDDD !important;
	border-bottom: none !important;
	border-left: none !important;
	font-weight: bold !important;
}

table {
	background-color: #fff;
}