<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="page-wrapper" th:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">七尾-遗值列表</h3>
				<div class="buttonArea">
					<span class="title">截止年份:</span><select id="years"></select>
					<span class="title">截止期数:</span><select id="phases"></select>
					<button id="downloadBtn" class="btn btn-success">导出</button>
					<button id="calYZBtn" class="btn btn-info">遗值计算</button>
					<button id="searchBtn" class="btn btn-primary">搜索</button>
					<div class="clearfix"></div>
					<form id="download" name="download" action="/mvc/yz/downloadQWYZ" class="hidden">
						<input id="size" type="hidden" name="size" />
						<input id="endYear" type="hidden" name="year" />
						<input id="endPhase" type="hidden" name="phase" />
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="dataTable">
					<thead>
						<tr>
							<th>年份</th>
							<th>期数</th>
							<th>尾号0</th>
							<th>尾号1</th>
							<th>尾号2</th>
							<th>尾号3</th>
							<th>尾号4</th>
							<th>尾号5</th>
							<th>尾号6</th>
							<th>尾号7</th>
							<th>尾号8</th>
							<th>尾号9</th>
							<th>和</th>
							<th>最大遗值（当期）</th>
							<th>最大连续期数</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td>年份</td>
							<td>期数</td>
							<td>尾号0</td>
							<td>尾号1</td>
							<td>尾号2</td>
							<td>尾号3</td>
							<td>尾号4</td>
							<td>尾号5</td>
							<td>尾号6</td>
							<td>尾号7</td>
							<td>尾号8</td>
							<td>尾号9</td>
							<td>和</td>
							<td>最大遗值（当期）</td>
							<td>最大连续期数</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>