<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/resource/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/jquery/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/metisMenu/css/metisMenu.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/framework/sb-admin-2.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/datatable/datatables-plugins/dataTables.bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/datatable/datatables-responsive/dataTables.responsive.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/combobox/combobox.css}" />
<link rel="stylesheet" th:href="@{/resource/system/css/common.css}" />
<link rel="stylesheet" th:href="@{/resource/system/css/datatable.css}" />
<link rel="stylesheet" th:href="@{/resource/system/css/highcharts.css}" />
<link rel="stylesheet" th:href="@{'/resource/system/' + ${view} + '/index.css'}" />
</head>

<body>
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" th:href="@{/}" th:text="${title}"></a>
            	</div>
	           	<button id="menuBtn" class="btn btn-info" style="position:relative; top: 8px;">隐藏菜单</button>
			</div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            	<li>
            		欢迎您, 今天是 <strong style="color: blue;" th:text="${date}"></strong>
            	</li>
            </ul>
            <!-- /.navbar-top-links -->

			<div id="menus" class="navbar-default sidebar" role="navigation">
                <div id="navList" class="sidebar-nav navbar-collapse">
                	<ul class="nav" id="side-menu">
                        <li>
                            <a href="/kj/list.html"><i class="fa fa-table fa-fw"></i> 原始数据</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 生肖<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/sxyz/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/jtcslist.html">静态次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/cslist.html">次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zhlist.html">组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/10looplist.html">10期循环列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/sxyz/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">双向振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/sxyz/zflist.html">遗值振幅列表</a>
		                            	</li>
		                                <li>
		                                    <a href="/sxyz/zfcountlist.html">一级振幅次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zf10looplist.html">10期循环列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zf2bar.html">二级振幅柱状图</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zf2countlist.html">二级振幅次数列表</a>
		                                </li>
		                            </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">单向振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/sxyz/zflist2.html">遗值振幅列表</a>
		                            	</li>
		                                <li>
		                                    <a href="/sxyz/zfcountlist2.html">一级振幅次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zfjzlist2.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zfline2.html">折线图</a>
		                                </li>
		                            </ul>
                                </li>
                            	<li>
                            		<a href="javascript:;">肖单双<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/sxyz/dslist.html">遗值列表</a>
		                            	</li>
		                            </ul>
                                </li>
                                <li>
		                            <a href="javascript:;">肖四区<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                                    <a href="/sq/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sq/jzlist.html">间值列表</a>
		                                </li>
		                            </ul>
		                        </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 号码<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">平码<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/pmlist.html">历史列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/hmyz/pmjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/hmyz/qcline.html">期差折线图</a>
		                                </li>
		                            </ul>
                                </li>
                            	<li>
                                    <a href="javascript:;">七尾<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/qwyzlist.html">遗值列表</a>
		                            	</li>
		                            	<li>
		                            		<a href="/hmyz/qwzhlist.html">组合列表</a>
		                            	</li>
		                            </ul>
                                </li>
                            	<li>
                                    <a href="javascript:;">特码<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/tmyzlist.html">历史列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/hmyz/tmjzlist.html">间值列表</a>
		                                </li>
		                            	<li>
		                            		<a href="/hmyz/tmfdlist.html">七段遗值</a>
		                            	</li>
		                            	<li>
		                            		<a href="/hmyz/tmfdline.html">七段折线图</a>
		                            	</li>
		                            </ul>
                                </li>
                            	<li>
                                    <a href="javascript:;">平特<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/ptlist.html">遗值列表</a>
		                            	</li>
		                            	<li>
		                            		<a href="/hmyz/ptline.html">折线图</a>
		                            	</li>
		                            </ul>
                                </li>
                            	<li>
                                    <a href="/hmyz/cjlist.html">重间图</a>
                                </li>
                                <li>
                            		<a href="javascript:;">号单双<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/dslist.html">遗值列表</a>
		                            	</li>
		                            </ul>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 单双<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               <li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/ds/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/ds/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/ds/yzline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/ds/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/ds/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/ds/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/ds/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/ds/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/ds/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 首位<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               <li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/sw/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sw/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sw/yzline.html">遗值折线图</a>
		                                </li>
		                                <li>
		                                    <a href="/sw/10looplist.html">10期循环列表</a>
		                                </li>
		                            </ul>
	                            </li>
                               <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/sw/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sw/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sw/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 末位<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/mw/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/mw/cslist.html">次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/mw/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/mw/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/mw/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/mw/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/mw/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                               <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/mw/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/mw/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/mw/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 合数<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/lh/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/lh/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/lh/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/lh/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/lh/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/lh/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/lh/zflist.html">振幅列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/lh/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/lh/zfline.html">折线图</a>
		                                </li>
		                            </ul>
                                </li>
                            	<li>
                            		<a href="javascript:;">合单双<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/lh/dslist.html">遗值列表</a>
		                            	</li>
		                            </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 波色<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/bs9q/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs9q/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs9q/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/bs9q/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs9q/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs9q/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/bs9q/zflist.html">振幅列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/bs9q/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs9q/zfline.html">折线图</a>
		                                </li>
		                            </ul>
                                </li>
	                            <li>
                                    <a href="javascript:;">单双遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/bs/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">单双振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/bs/zflist.html">振幅列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/bs/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/bs/zfline.html">折线图</a>
		                                </li>
		                            </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 质数<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
	                            <li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zs/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zs/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zs/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zs/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zs/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zs/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/zs/zflist.html">振幅列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/zs/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zs/zfline.html">折线图</a>
		                                </li>
		                            </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 五行<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
	                            <li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/wx/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wx/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wx/yzline.html">遗值折线图</a>
		                                </li>
		                                <li>
		                                    <a href="/wx/10looplist.html">10期循环列表</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/wx/zflist.html">振幅列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/wx/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wx/zfline.html">折线图</a>
		                                </li>
		                            </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">单双遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/wxds/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wxds/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wxds/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">单双冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/wxds/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wxds/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wxds/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">单双振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/wxds/zflist.html">振幅列表</a>
		                            	</li>
		                            	<li>
		                                    <a href="/wxds/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/wxds/zfline.html">折线图</a>
		                                </li>
		                            </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 配对<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/pd/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/pd/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/pd/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/pd/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/pd/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/pd/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                               <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/pd/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/pd/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/pd/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 分段<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/tm12fd/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/tm12fd/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/tm12fd/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/tm12fd/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/tm12fd/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/tm12fd/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                               <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/tm12fd/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/tm12fd/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/tm12fd/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 七区<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/qq/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qq/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qq/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                               <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/qq/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qq/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qq/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 七位<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/qiw/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qiw/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qiw/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                               <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/qiw/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qiw/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/qiw/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 十二区<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/twelve/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/twelve/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/twelve/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/twelve/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/twelve/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/twelve/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                               	<li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/twelve/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/twelve/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/twelve/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 十六区<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/slq/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/slq/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/slq/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            <li>
                                    <a href="javascript:;">冷热<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/slq/lrlist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/slq/lryzlist.html">冷热组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/slq/lryzline.html">冷热组合折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                               <li>
                                    <a href="javascript:;">振幅<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/slq/zflist.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/slq/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/slq/zfline.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 杂项<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
	                            	<li>
                                    <a href="javascript:;"> 杂项1<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx1list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx1line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项2<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx2list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx2line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项3<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx3list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx3line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项4<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx4list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx4line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项5<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx5list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx5line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项6<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx6list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx6line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项7<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx7list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx7line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项8<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx8list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx8line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项9<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx9list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx9line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
	                            	<li>
                                    <a href="javascript:;"> 杂项10<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/zx/zx10list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/zx/zx10line.html">折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 分析<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
	                            	<li>
	                                   <a href="/fx/j0.html">间0</a>
	                            </li>
	                            	<li>
	                                   <a href="/fx/d1.html">倒1</a>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 检验<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
	                            	<li>
	                                   <a href="/jy/xbwjy.html">小包围对比</a>
	                            </li>
	                            	<li>
	                                   <a href="/jy/4in1.html">4选1对比</a>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 参数<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
	                            	<li>
	                                   <a href="/parameter/yz.html">遗值参数</a>
	                            </li>
	                            	<li>
	                                   <a href="/parameter/zf.html">振幅参数</a>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 投注<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/tz/dbw.html">大包围</a>
	                            </li>
                            	<li>
                                    <a href="/tz/xbw.html">小包围</a>
	                            </li>
                            	<li>
                                    <a href="/tz/dc.html">对冲</a>
	                            </li>
                            	<li>
                                    <a href="/tz/szs.html">三中三</a>
	                            </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/gz/list.html"><i class="fa fa-bar-chart-o fa-fw"></i> 规则</a>
                        </li>
                    </ul>
                </div>
            </div>
			<!-- /.navbar-dynamic-side -->
		</nav>
        <!-- /#nav -->
        
        <div id="page-wrapper" th:replace="${view} :: content"></div>
		
    </div>

	<div id="loading" style="display:none;">
	  <p>处理中....</p>
	</div>
	
	<script type="text/javascript" th:src="@{/resource/lib/json/json2.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/lodash/lodash.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/jquery/jquery-3.1.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/jquery/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/cookie/jquery.cookie.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/metisMenu/js/metisMenu.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/datatable/datatables/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/datatable/datatables-plugins/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/datatable/datatables-responsive/dataTables.responsive.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/highcharts/highcharts.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/combobox/combobox.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/framework/sb-admin-2.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/keycode.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/datatable.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/main.js}"></script>
	<script type="text/javascript" th:src="@{'/resource/system/' + ${view} + '/index.js'}"></script>
</body>
</html>