<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${title}"></title>
<link rel="stylesheet" th:href="@{/resource/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/jquery/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/metisMenu/css/metisMenu.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/framework/sb-admin-2.min.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/datatable/datatables-plugins/dataTables.bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/datatable/datatables-responsive/dataTables.responsive.css}" />
<link rel="stylesheet" th:href="@{/resource/lib/combobox/combobox.css}" />
<link rel="stylesheet" th:href="@{/resource/system/css/common.css}" />
<link rel="stylesheet" th:href="@{/resource/system/css/datatable.css}" />
<link rel="stylesheet" th:href="@{/resource/system/css/highcharts.css}" />
<link rel="stylesheet" th:href="@{'/resource/system/' + ${view} + '/index.css'}" />
</head>

<body>
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" th:href="@{/}" th:text="${title}"></a>
            	</div>
	           	<button id="menuBtn" class="btn btn-info" style="position:relative; top: 8px;">隐藏菜单</button>
			</div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            	<li>
            		欢迎您, 今天是 <strong style="color: blue;" th:text="${date}"></strong>
            	</li>
            </ul>
            <!-- /.navbar-top-links -->

			<div id="menus" class="navbar-default sidebar" role="navigation">
                <div id="navList" class="sidebar-nav navbar-collapse">
                	<ul class="nav" id="side-menu">
                        <li>
                            <a href="/kj/list.html"><i class="fa fa-table fa-fw"></i> 原始数据</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 生肖<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">遗值<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                                <li>
		                                    <a href="/sxyz/list.html">历史列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/lrlist.html">冷热列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/cslist.html">次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zhlist.html">组合列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/jzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/10looplist.html">10期循环列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/yzline.html">遗值折线图</a>
		                                </li>
		                            </ul>
	                            </li>
                                <li>
                                    <a href="javascript:;">振幅1<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/sxyz/zflist.html">遗值振幅列表</a>
		                            	</li>
		                                <li>
		                                    <a href="/sxyz/zfcountlist.html">一级振幅次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zfjzlist.html">间值列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zf10looplist.html">10期循环列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zf2bar.html">二级振幅柱状图</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zf2countlist.html">二级振幅次数列表</a>
		                                </li>
		                            </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">振幅2<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/sxyz/zflist2.html">遗值振幅列表</a>
		                            	</li>
		                                <li>
		                                    <a href="/sxyz/zfcountlist2.html">一级振幅次数列表</a>
		                                </li>
		                                <li>
		                                    <a href="/sxyz/zfjzlist2.html">间值列表</a>
		                                </li>
		                            </ul>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 号码<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="javascript:;">平码<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/pmlist.html">历史列表</a>
		                            	</li>
		                                <li>
		                                    <a href="/hmyz/qcline.html">期差折线图</a>
		                                </li>
		                            </ul>
                                </li>
                            	<li>
                                    <a href="javascript:;">七尾<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/qwyzlist.html">遗值列表</a>
		                            	</li>
		                            	<li>
		                            		<a href="/hmyz/qwzhlist.html">组合列表</a>
		                            	</li>
		                            </ul>
                                </li>
                            	<li>
                                    <a href="javascript:;">特码<span class="fa arrow"></span></a>
		                            <ul class="nav nav-third-level">
		                            	<li>
		                            		<a href="/hmyz/tmyzlist.html">遗值列表</a>
		                            	</li>
		                            	<li>
		                            		<a href="/hmyz/tmfdlist.html">分段遗值</a>
		                            	</li>
		                            </ul>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 单双<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/ds/list.html">遗值列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 首位<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                           	   <li>
                                   <a href="/sw/list.html">遗值列表</a>
                               </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 末位<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/mw/list.html">遗值列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 合数<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/lh/list.html">遗值列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 波色<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/bs/list.html">遗值列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 七区<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/qq/list.html">遗值列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o fa-fw"></i> 四区<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            	<li>
                                    <a href="/sq/list.html">遗值列表</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
			<!-- /.navbar-dynamic-side -->
		</nav>
        <!-- /#nav -->
        
        <div id="page-wrapper" th:replace="${view} :: content"></div>
		
    </div>

	<div id="loading" style="display:none;">
	  <p>处理中....</p>
	</div>
	
	<script type="text/javascript" th:src="@{/resource/lib/json/json2.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/lodash/lodash.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/jquery/jquery-3.1.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/jquery/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/metisMenu/js/metisMenu.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/datatable/datatables/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/datatable/datatables-plugins/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/datatable/datatables-responsive/dataTables.responsive.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/highcharts/highcharts.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/combobox/combobox.js}"></script>
	<script type="text/javascript" th:src="@{/resource/lib/framework/sb-admin-2.min.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/keycode.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/datatable.js}"></script>
	<script type="text/javascript" th:src="@{/resource/system/js/main.js}"></script>
	<script type="text/javascript" th:src="@{'/resource/system/' + ${view} + '/index.js'}"></script>
</body>
</html>