<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="page-wrapper" th:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">杂项3-历史列表</h3>
				<div class="buttonArea">
					<span class="title">截止年份:</span><select id="years"></select>
					<span class="title">截止期数:</span><select id="phases"></select>
					<button id="calYZBtn" class="btn btn-info">遗值计算</button>
					<button id="searchBtn" class="btn btn-primary">搜索</button>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<table width="100%"
					class="table table-striped table-bordered table-hover"
					id="dataTable">
					<thead>
						<tr>
							<th>年份</th>
							<th>期数</th>
							<th>段位1</th>
							<th>段位2</th>
							<th>段位3</th>
							<th>段位4</th>
							<th>段位5</th>
							<th>段位6</th>
							<th>段位7</th>
							<th>段位8</th>
							<th>段位9</th>
							<th>段位10</th>
							<th>段位11</th>
							<th>段位12</th>
							<th>差值</th>
							<th>遗值（上）</th>
							<th>和（当）</th>
							<th>和平均值</th>
							<th>最大遗值（当）</th>
							<th>最大平均值</th>
							<th>间0</th>
							<th>间0平均值</th>
							<th>间1</th>
							<th>间1平均值</th>
							<th>间2</th>
							<th>间2平均值</th>
							<th>间3</th>
							<th>间3平均值</th>
							<th>间4</th>
							<th>间4平均值</th>
							<th>间5</th>
							<th>间5平均值</th>
							<th>间6</th>
							<th>间6平均值</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td>年份</td>
							<td>期数</td>
							<td>段位1</td>
							<td>段位2</td>
							<td>段位3</td>
							<td>段位4</td>
							<td>段位5</td>
							<td>段位6</td>
							<td>段位7</td>
							<td>段位8</td>
							<td>段位9</td>
							<td>段位10</td>
							<td>段位11</td>
							<td>段位12</td>
							<td>差值</td>
							<td>遗值（上）</td>
							<td>和（当）</td>
							<td>和平均值</td>
							<td>最大遗值（当）</td>
							<td>最大平均值</td>
							<td>间0</td>
							<td>间0平均值</td>
							<td>间1</td>
							<td>间1平均值</td>
							<td>间2</td>
							<td>间2平均值</td>
							<td>间3</td>
							<td>间3平均值</td>
							<td>间4</td>
							<td>间4平均值</td>
							<td>间5</td>
							<td>间5平均值</td>
							<td>间6</td>
							<td>间6平均值</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>