<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="page-wrapper" th:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header">模拟-芝麻开门</h3>
				<div class="buttonArea">
					<span class="title">截止年份:</span><select id="years"></select>
					<span class="title">截止期数:</span><select id="phases"></select>
					<div class="clearfix"></div>
				</div>
				<div class="buttonArea">
					<button id="downloadBtn" class="btn btn-success">导出</button>
					<button id="calYZBtn" class="btn btn-info">遗值计算</button>
					<button id="searchBtn" class="btn btn-primary">搜索</button>
				</div>
				<form id="download" name="download" action="/mvc/yz/downloadZMKM" class="hidden">
					<input id="size" type="hidden" name="size" />
					<input id="endYear" type="hidden" name="year" />
					<input id="endPhase" type="hidden" name="phase" />
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<table width="8100"
					class="table table-striped table-bordered table-hover"
					id="dataTable">
					<thead>
						<tr>
							<th width="50">年份</th>
							<th width="30">期数</th>
							<th width="30">特码</th>
							<th width="30">1次</th>
							<th width="500">号码(1次)</th>
							<th width="30">2次</th>
							<th width="500">号码(2次)</th>
							<th width="30">3次</th>
							<th width="500">号码(3次)</th>
							<th width="30">4次</th>
							<th width="500">号码(4次)</th>
							<th width="30">5次</th>
							<th width="500">号码(5次)</th>
							<th width="30">6次</th>
							<th width="500">号码(6次)</th>
							<th width="30">7次</th>
							<th width="500">号码(7次)</th>
							<th width="30">8次</th>
							<th width="500">号码(8次)</th>
							<th width="30">9次</th>
							<th width="500">号码(9次)</th>
							<th width="30">10次</th>
							<th width="500">号码(10次)</th>
							<th width="30">11次</th>
							<th width="500">号码(11次)</th>
							<th width="30">12次</th>
							<th width="500">号码(12次)</th>
							<th width="30">13次</th>
							<th width="500">号码(13次)</th>
							<th width="30">14次</th>
							<th width="500">号码(14次)</th>
							<th width="30">15次</th>
							<th width="500">号码(15次)</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td>年份</td>
							<td>期数</td>
							<td>特码</td>
							<td>1次</td>
							<td>号码(1次)</td>
							<td>2次</td>
							<td>号码(2次)</td>
							<td>3次</td>
							<td>号码(3次)</td>
							<td>4次</td>
							<td>号码(4次)</td>
							<td>5次</td>
							<td>号码(5次)</td>
							<td>6次</td>
							<td>号码(6次)</td>
							<td>7次</td>
							<td>号码(7次)</td>
							<td>8次</td>
							<td>号码(8次)</td>
							<td>9次</td>
							<td>号码(9次)</td>
							<td>10次</td>
							<td>号码(10次)</td>
							<td>11次</td>
							<td>号码(11次)</td>
							<td>12次</td>
							<td>号码(12次)</td>
							<td>13次</td>
							<td>号码(13次)</td>
							<td>14次</td>
							<td>号码(14次)</td>
							<td>15次</td>
							<td>号码(15次)</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>